<div class = "container">
  <div class="row mt-5">
    <div class = "col-lg-2 text-white bg-dark text-center">
      <h4>商品詳細</h4>
    </div>
  </div>
  <div class = "row mt-5">
    <div class = "col-lg-4">
      <%= image_tag @item.get_image(300,300) %>
    </div>
    <div class = "col-lg-8">
      <table cellpadding = "10">
        <tr>
          <th>商品名</th><td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th><td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</br>(税抜価格)</th><td><%= @item.with_tax_price %>(<%= @item.price %>)円</td>
        </tr>
        <tr>
          <th>販売ステータス</th><td><%= @item.is_active == true ? "販売中" : "販売停止中" %></td>
        </tr>
        <tr>
          <th></th><td><%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-success" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
