<div class = "container">
    <div class="row mt-5">
      <div class = "col-lg-12">
        <h4 class = "d-flex p-2">商品詳細</h4>
      </div>
      <div class = "col-lg-4">
        <%= image_tag @item.get_image(300,300) %>
      </div>
      <div class = "col-lg-8">
        <label class = "col-lg-3">商品名</label><label class = "col-lg-5"><%= @item.name %></label></br>
        <label class = "col-lg-3">商品説名</label><label class = "col-lg-5"><%= @item.introduction %></label></br>
        <label class = "col-lg-3">ジャンル</label><label class = "col-lg-5"><%= @item.genre.name %></label></br>
        <label class = "col-lg-3">税込価格</br>（税抜価格）</label><label class = "col-lg-5"><%= @item.with_tax_price %>(<%= @item.price %>)</label></br>
        <label class = "col-lg-3">販売ステータス</label><label class = "col-lg-5"><%= @item.is_active %></label>
      </div>
      <div class = "mx-auto mt-5"><%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-success" %></div>
    </div>
</div>
