<div class = "container">
  <div class = "row mt-5">
    <h4 class = "col-lg-3 text-white bg-dark text-center">管理者ログイン</h4>
  </div>
</div>
<div class = "mt-5 d-flex justify-content-center">
  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <table>
      <tr>
        <th><%= f.label :メールアドレス %></th><td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th><%= f.label :パスワード %></th><td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <th></th><td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
      </tr>
    </table>
  <% end %>
</div>
<%= render "admin/shared/links" %>
