<div class = "container">
  <% if @genre.errors.any? %>
      <%= @genre.errors.count %>件の未入力があります
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
  <% end %>
  <div class = "row mt-5">
    <h4 class = "col-lg-2 text-white bg-dark text-center">ジャンル編集</h4>
  </div>
  <div class = "row mt-5">
    <div class = "col-lg-7">
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
          <table cellpadding = 10>
              <tr>
                  <th>ジャンル名</th>
                  <td><%= f.text_field :name %></td>
                  <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
              </tr>
          </table>
      <% end %>
    </div>
  </div>
</div>

