<div class = "container-fluid">
    <div class = "row mt-5">
        <div class = "col-lg-3">
            <h5>注文情報確認</h5>
        </div>
    </div>
    <div class= "row mt-3">
        <div class = "col-lg-7">
            <table class = "table table-bordered border-dark">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td><%= cart_item.item.name %></td>
                            <td><%= cart_item.item.with_tax_price %></td>
                            <td><%= cart_item.amount %></td>
                            <td><%= cart_item.subtotal %><% @total += cart_item.subtotal %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class = "col-lg-4">
            <table class = "table table-bordered border-dark">
                <tr>
                    <th>送料</th><td><%= @order.postage %></td>
                </tr>
                <tr>
                    <th>商品合計</th><td><%= @total %></td>
                </tr>
                <tr>
                    <th>請求金額</th>
                     <% @order.billing_amount = @order.postage + @total %>
                    <td><%= @order.billing_amount %></td>
                </tr>
            </table>
        </div>
    </div>
    <div class = "row mt-5">
        <div class = "col">
            <h5>支払方法</h5><%= @order.payment_method_i18n %>
        </div>
    </div>
    <div class = "row mt-5">
        <div class = "col">
            <h5>お届け先</h5><%= @order.order_shipping_display %>
        </div>
    </div>
    <div class = "row mt-5">
        <div class = "col-lg-3 offset-5">
            <%= form_with model: @order, url: orders_path, method: :post do |f| %>
                <%= f.hidden_field :shipping_postal_code %>
                <%= f.hidden_field :shipping_address %>
                <%= f.hidden_field :shipping_name %>
                <%= f.hidden_field :postage %>
                <%= f.hidden_field :billing_amount %>
                <%= f.hidden_field :payment_method %>
                <%= f.submit "注文を確定する", class: "btn btn-success" %>
            <% end %>
        </div>
    </div>
</div>