<div class = "container">
  <div class = "row mt-5">
    <h4 class = "col-lg-3 text-white bg-dark text-center">ログイン</h4>
  </div>
  <div class = "row mt-1">
    <p>会員の方はこちらからログイン</p>
  </div>
</div>
<div class = "mt-5 d-flex justify-content-center">
  <%= form_with model: @customer, url: customer_session_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
    <table>
      <tr>
        <th><%= f.label :メールアドレス %></th><td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th><%= f.label :パスワード %></th><td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <th></th><td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
      </tr>
    </table>
  <% end %>
</div>
<div class = "container">
  <div class = "row mt-3">
    <h4>会員登録がお済み出ない方</h4>
  </div>
  <div class = "row mt-1">
      <p>
        <%= link_to 'こちら', new_customer_registration_path %>からログインしてください。
      </p>
  </div>
</div>
