<div class = "container-fluid">
  <div class = "row mt-5">
    <div class = "col-lg-3 offset-lg-1 text-white bg-dark text-center">
      <h4>
        <% if @genre_flag %>
          <%= "#{@genre.name}一覧(全#{@items_count}件)" %>
        <% else %>
          <%= "商品一覧(全#{@items_count}件)"%>
        <% end %>
      </h4>
    </div>
  </div>
  <div class = "row justify-content-center mt-5">
    <div class = "col-lg-2 offset-lg-1 border border-dark">
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class = "col-lg-8  offset-1 d-flex flex-lg-wrap">
      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div class = "item mx-2">
            <p><%= image_tag item.get_image(200,200) %></p>
            <p><%= item.name %></p>
            <p>¥<%= item.with_tax_price %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @items %>
  </div>
</div>